<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/output.css" />
    <title>Document</title>
  </head>
  <body>
    <footer class="w-full bg-[#010101] text-white p-6 md:p-9">
      <div class="flex flex-col md:flex-row justify-between gap-6">
        <div
          class="flex flex-col md:flex-row md:items-start gap-6 md:gap-[90px]"
        >
          <div>
            <a href="/src/assets/pages/index.html">
              <img src="../iconsFile/Vector 3 (4).png" alt="Logo" />
            </a>
          </div>

          <div class="flex flex-col gap-3">
            <p class="font-bold text-lg">همکاری با ما</p>
            <p class="text-[14px]">تبلیغات</p>
            <p class="text-[14px]">همکاری با ما</p>
            <p class="text-[14px]">برای صاحبان کسب و کار</p>
          </div>

          <div class="flex flex-col gap-3">
            <p class="font-bold text-lg">ارتباط با ما</p>
            <p class="text-[14px]">درباره ما</p>
            <p class="text-[14px]">تماس با ما</p>
          </div>

          <div class="flex flex-col gap-3">
            <p class="font-bold text-lg">لینک های مهم</p>
            <p class="text-[14px]">پشتیبانی</p>
            <p class="text-[14px] text-[#BFC3AB]">قوانین و مقررات</p>
            <p class="text-[14px]">انتقادات و پیشنهادات</p>
          </div>

          <div class="flex flex-col gap-3">
            <p class="font-bold text-lg">لینک های مفید</p>
            <p class="text-[14px]">تخفیف ها</p>
            <p class="text-[14px]">ورود و عضویت</p>
          </div>
        </div>

        <div>
          <div class="flex flex-col gap-3 items-end">
            <p class="font-bold text-lg">مارا در اینستاگرام دنبال کنید:</p>
            <div class="flex items-center gap-2 border-l-[1px] pl-3">
              <div class="flex flex-col gap-1">
                <p class="text-[14px] font-english">Instagram</p>
                <a
                  href="https://instagram.com/marasema"
                  class="text-[14px] font-english text-blue-400"
                  >marasema@</a
                >
              </div>
              <img src="../iconsFile/instagram.png" alt="Instagram" />
            </div>
          </div>
        </div>
      </div>

      <p class="border-b-[1px] border-[#BFC3AB] w-[90%] mx-auto my-4"></p>

      <div class="flex flex-col md:flex-row justify-between gap-4 md:gap-0">
        <p class="text-[14px] text-center md:text-right">
          مطالب ارائه شده صرفا جهت اطلاع رسانی ست و صحت سنجی اطلاعات و قیمت و
          سایر موارد بر عهده شماست
        </p>
        <div
          class="flex flex-col md:flex-row gap-2 md:items-center text-center md:text-right"
        >
          <a href="tel:02122496809" class="text-[14px] text-blue-400"
            >021-22496809</a
          >
          <p class="hidden md:block">-</p>
          <a href="mailto:info@marasema.ir" class="text-[14px] text-blue-400"
            >info@marasema.ir</a
          >
        </div>
      </div>
      <div
        class="fixed flex justify-between pr-3 pl-3 pt-4 pb-4 bottom-0 w-full right-0 z-30 lg:hidden bg-black"
      >
        <img
          class="w-[15px] h-[15px]"
          src="../icons/Vector 3 (6).png"
          alt="/"
        /><img
          class="w-[15px] h-[15px]"
          src="../icons/Group 1171276398.png"
          alt="/"
        /><img
          class="w-[15px] h-[15px]"
          src="../icons/Group 11657 (1).png"
          alt="/"
        /><img
          class="w-[15px] h-[15px]"
          src="../icons/Group 1171276397.png"
          alt="/"
        />
      </div>
    </footer>

    <div class="hidden lg:block">
      <img src="../iconsFile/Ads Header (3).png" alt="footer" />
    </div>
  </body>
</html>
